<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<meta property="og:site_name" content="{{ data.title }}">
		<link rel="canonical" href="{{ data.url }}">

		<title>{{ data.title }}</title>
		<meta name="description" content="{{ data.description }}">

		<meta name="application-name" content="{{ data.title }}">
		<link rel="manifest" href="/webappmanifest.json">

		<!-- Icons, platform-specific theme stuff, etc.: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/_assets/img/icon-152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/_assets/img/icon-144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/_assets/img/icon-120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/_assets/img/icon-114.png">
		
		<meta name="msapplication-TileImage" content="/_assets/img/icon-144.png">
		<meta name="theme-color" content="#6d252e">
		<link rel="icon" type="image/png" href="/_assets/img/icon-32.png" sizes="32x32">

		<!-- Half my site’s transfer is in `meta` nonsense. -->
		<script type="application/ld+json">
			{
				"@context": "http://schema.org",
				"@type": "Organization",
				"url": "{{ data.url }}",
				"title": "{{ data.title }}",
				"author_name": "{{ data.author.name }}",
				"logo": "{{ data.url }}/_assets/img/card.gif",
				"sameAs" : [
					"https://twitter.com/wilto"
				] 
			}
		</script>

		<!-- Twitter/Slack cards: -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@wilto">
		<meta name="twitter:creator" content="@wilto">
		<meta property="og:site_name" content="{{ data.name }}">
		<meta name="twitter:title" content="{{ data.title }}">
		<meta property="og:title" content="{{ data.title }}">
		<meta property="og:url" content="{{ data.url }}">

		<meta name="twitter:description" content="{{ lede }}">
		<meta property="og:description" content="{{ lede }}">


		<meta name="twitter:image" content="{{ data.url }}/_assets/img/card.gif">
		<meta name="twitter:image:alt" content="{{ data.description }}">
		<meta property="og:image" content="{{ data.url }}/_assets/img/card.gif">
		<meta property="og:image:alt" content="{{ data.description }}">

		<meta name="author" content="{{ data.author.name }}">

		<link rel="stylesheet" type="text/css" href="/_assets/css/all.css">
	</head>
	<body>

		<img src="_assets/img/w.svg" class="w-logo" alt="">
		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

			<div class="body">
				<header class="head">
					<h1 class="hed txt-shaded">{{ subhed | safe }}</h1>
					<p class="lede">{{ lede | safe }}</p>
				</header>

				<section class="sub sublede">
					{{ layoutContent | safe }}
				</section>

				{% set sections = collections.sections | reverse %}
				{%- for section in sections-%}
					{% include "section.njk" %}
				{%- endfor -%}
			</div>
		</main>


		<footer class="site-foot">
			<p>Built with <a href="https://www.11ty.io/">Eleventy</a>. The source is available on <a href="https://github.com/Wilto/hire.wil.to">GitHub</a>.</p>
			<p>For questions, comments, or problems using the site, <a href="https://github.com/Wilto/hire.wil.to/issues">report an issue</a>.</p>
		</footer>

		<script>
			if( 'serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
				navigator.serviceWorker.register('sw.js');
			}
		</script>

	</body>
</html>
