<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ metadata.title }}{% if title %} - {{ title }}{% endif %}</title>
		<meta name="description" content="{% if lede %}{{ lede }}{% else %}{{ metadata.description }}{% endif %}">

		<link rel="stylesheet" type="text/css" href="_assets/css/layout.css">
		<link rel="stylesheet" type="text/css" href="_assets/css/type.css">
	</head>
	<body>

		<img src="_assets/img/w.svg" class="w-logo">
		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

			<div class="body">
				<header class="head">
					<h1 class="hed txt-shaded">{{ subhed | safe }}</h1>
					<p class="lede">{{ lede | safe }}</p>
				</header>

				<section class="sub sublede">
					{{ layoutContent | safe }}
				</section>

				{% set sections = collections.sections | reverse %}
				{%- for section in sections-%}
					{% include "section.njk" %}
				{%- endfor -%}
			</div>
		</main>

		<footer class="site-foot">

		</footer>

		<script>
			if('serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
				//navigator.serviceWorker.register('/service-worker.js?{{ metadata.build }}');
			}
		</script>

	</body>
</html>
