<!doctype html>
<html lang="en" class="fonts">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>{{ data.title }}</title>
		<meta name="description" content="{{ data.description }}">

		<link rel="stylesheet" type="text/css" href="/_assets/css/all.css">
	</head>
	<body>

		<img src="_assets/img/w.svg" class="w-logo">
		<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>

			<div class="body">
				<header class="head">
					<h1 class="hed txt-shaded">{{ subhed | safe }}</h1>
					<p class="lede">{{ lede | safe }}</p>
				</header>

				<section class="sub sublede">
					{{ layoutContent | safe }}
				</section>

				{% set sections = collections.sections | reverse %}
				{%- for section in sections-%}
					{% include "section.njk" %}
				{%- endfor -%}
			</div>
		</main>


		<footer class="site-foot">
			<p>Built with <a href="https://www.11ty.io/">Eleventy</a>. The source is available on <a href="https://github.com/Wilto/hire.wil.to">GitHub</a>.</p>
			<p>For questions, comments, or problems using the site, <a href="https://github.com/Wilto/hire.wil.to/issues">report an issue</a>.</p>
		</footer>

		<script>
			if( 'serviceWorker' in navigator && window.location.hostname !== "localhost" ) {
				navigator.serviceWorker.register('sw.js');
			}
		</script>

	</body>
</html>
