<section class="sub sub-{{  section.data.pageClass }}" role="region" aria-labelledby="section-{{  section.data.pageClass }}">
	<div class="section-head">
		<h2 class="section-hed txt-shaded" id="section-{{ section.data.pageClass }}">{{ section.data.title | safe }}</h2>
	</div>

	<div class="copy">
		{{ section.data.content | safe }}
	</div>
</section>