<section class="sub sub-{{  section.data.pageClass }}" role="region" aria-labelledby="date-{{  section.data.pageClass }}" aria-describedby="place-{{ section.data.pageClass }}">
	<div class="section-head">
		<h3 class="exp-datespan">{{ section.data.start }}–{{ section.data.end }}</h3>
		<h4 class="section-hed txt-shaded" id="place-{{ section.data.pageClass }}">{{ section.data.title | safe }}</h4>
		{% if section.data.lede %}
		<p class="lede">{{ section.data.lede | safe }}</p>
		{% endif %}
	</div>
	<div class="copy">
		{{ section.data.content | safe }}
	</div>
</section>