{% extends "./base.njk" %}

{% block inner %}
<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <div class="body">
    {% if subhed %}
    <div class="head">
      <h1 class="hed txt-shaded">{{ subhed | safe }}</h1>
      <p class="lede">{{ lede | safe }}</p>
    </div>
    {% endif %}

    {% if layoutContent %}
    <section class="sub sublede">
      {{ layoutContent | safe }}
    </section>
    {% endif %}

    {% set sections = collections.sections | reverse %}
    {%- for section in sections-%}
      {% if section.data.pageClass == "contact" %}
      <section class="sub sub-{{  section.data.pageClass }}" role="region" aria-labelledby="section-{{  section.data.pageClass }}">
        <div class="section-head">
          <h2 class="section-hed txt-shaded" id="section-{{ section.data.pageClass }}">{{ section.data.title | safe }}</h2>
        </div>
        <div class="section-content">
          {{ section.data.content | safe }}
        </div>
      </section>
      {% else %}
      <section class="sub sub-{{ section.data.pageClass }}" role="region" aria-labelledby="section-{{  section.data.pageClass }}">
        <div class="section-head">
          <h2 class="section-hed" id="section-{{ section.data.pageClass }}">{{ section.data.title | safe }}</h2>
        </div>
        <div class="section-content">
          {{ section.data.content | safe }}
        </div>
      </section>
      {% endif %}
    {%- endfor -%}
  </div>
</main>
{% endblock %}