
{% extends "./base.njk" %}

    {% block header %}
    <header>
      <nav class="nav">
        <a href="/posts/" aria-current="page">Writing</a>
        <a href="/">
          <span class="a11y-only">Home</span>
          <svg class="w-logo" aria-hidden="true" viewBox="0 0 210 210" width="125" height="125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M.412.353h206.647V207H.412z"/></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path id="w-bg" d="M207.059 103.677c0 57.063-46.26 103.323-103.323 103.323C46.672 207 .412 160.74.412 103.677.412 46.613 46.672.353 103.736.353s103.323 46.26 103.323 103.324" fill="#12073F" mask="url(#b)"/><path id="w-fore" fill="#FFF" d="M101.405 77.63H80.878L93.36 99.657l-5.579 9.812L69.614 77.63H49.087l38.578 68.359.08-.137.077.137 15.845-28.141 15.947 28.141 10.38-18.255z"/><path fill="#EF4136" d="M137.823 77.647L125.55 99.23h20.65l12.183-21.425z"/></g></svg>
        </a>
      </nav>
    </header>
    {% endblock %}


{% block inner %}
<main role="main" id="main"{% if templateClass %} class="{{ templateClass }}"{% endif %}>
  <div class="body">
    <div class="head">
      <h1 class="hed txt-shaded">{{ title | safe }}</h1>
      {% if lede %}
      <p class="lede">{{ lede | safe }}</p>
      {% endif %}
    </div>
    <div class="post">
			{{ content | safe }}
		</div>
	</div>
</main>
{% endblock %}