

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
  












  




<title>All components</title>
<link rel="canonical" href="https://wil.to/equipped/design-system/all-components/">

<meta property="og:site_name" content="GET EQUIPPED">
<meta property="og:title" content="All components">
<meta property="og:type" content="website">
<meta property="og:url" content="https://wil.to/equipped/design-system/all-components/">


  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://wil.to/equipped/images/card.gif">
  <meta name="twitter:image" content="https://wil.to/equipped/images/card.gif">
  <meta property="og:image:alt" content="GET EQUIPPED">
  <meta name="twitter:image:alt" content="GET EQUIPPED">



  <meta name="description" content="A collection of every component and their variants as a cumulutive reference.">
  <meta name="twitter:description" content="A collection of every component and their variants as a cumulutive reference.">
  <meta property="og:description" content="A collection of every component and their variants as a cumulutive reference.">



    <link rel="icon" type="image/png" sizes="32x32" href="/equipped/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/equipped/images/favicons/favicon-16x16.png">
    <link rel="shortcut icon" href="/equipped/images/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="./css/global.css?0978-9f09-f0f1">

    
    
      
        <link rel="stylesheet" href="/css/design-system.css?0978-9f09-f0f1">
      
    
  </head>
  <body>
    <a class="w-logo" href="https://wil.to">
      <svg aria-hidden="true" viewBox="0 0 210 210" width="150" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs><path id="path" d="M.412.353h206.647V207H.412z"></path></defs><g fill="none" fill-rule="evenodd"><mask id="path2" fill="#fff"><use xlink:href="#path"></use></mask><path d="M207.059 103.677c0 57.063-46.26 103.323-103.323 103.323C46.672 207 .412 160.74.412 103.677.412 46.613 46.672.353 103.736.353s103.323 46.26 103.323 103.324" fill="#12073F" mask="url(#path2)"></path><path fill="#eee0a2" d="M101.405 77.63H80.878L93.36 99.657l-5.579 9.812L69.614 77.63H49.087l38.578 68.359.08-.137.077.137 15.845-28.141 15.947 28.141 10.38-18.255z"></path><path fill="var(--color-secondary)" d="M137.823 77.647L125.55 99.23h20.65l12.183-21.425z"></path></g>
      </svg>
      <span class="visually-hidden">Wilto</span>
    </a>
    
<main class="design-system sidebar">
  <nav class="design-system__sidebar flow" aria-label="design system">
    <p class="design-system__brand">
      <a href="/design-system" aria-label="GET EQUIPPED Design System">
      <svg class="w-logo" aria-hidden="true" viewBox="0 0 210 210" width="125" height="125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M.412.353h206.647V207H.412z"></path></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><path id="w-bg" d="M207.059 103.677c0 57.063-46.26 103.323-103.323 103.323C46.672 207 .412 160.74.412 103.677.412 46.613 46.672.353 103.736.353s103.323 46.26 103.323 103.324" fill="#12073F" mask="url(#b)"></path><path id="w-fore" fill="#FFF" d="M101.405 77.63H80.878L93.36 99.657l-5.579 9.812L69.614 77.63H49.087l38.578 68.359.08-.137.077.137 15.845-28.141 15.947 28.141 10.38-18.255z"></path><path fill="#EF4136" d="M137.823 77.647L125.55 99.23h20.65l12.183-21.425z"></path></g></svg>
    </a>
    </p>
    <div class="design-system__sidebar-inner">
      
        <h2 id="design-tokens">Design Tokens</h2>
        <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/colors/">Color</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/typography/">Typography</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/spacing/">Spacing</a>

   
</li>
        
        </ul>
      
        <h2 id="css">CSS</h2>
        <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/css-compositions/">Layout Compositions</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/css-utilities/">Core utilties</a>

   
</li>
        
        </ul>
      
      <div class="repel pr-m items-baseline">
        <h2 id="components">Components</h2>
        <a class="button mt-[-1px]" href="/design-system/all-components/" data-type="badge">All</a>
      </div>
      <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/component/button/">Button</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/component/collapsible/">Collapsible</a>

   
</li>
        
      </ul>
    </div>
  </nav>
  <div class="wrapper flow prose py-m">
    <h1 id="all-components">All components</h1>
    
      A collection of every component and their variants as a cumulutive reference.
    
    
  
  
  <hr>
  <div class="flow">
    <h2 id="button">Button</h2>
    
    <nav class="cluster" aria-label="variants">
      
        <a href="#badge-style-button">Badge-style Button</a>
      
        <a href="#icon">Icon</a>
      
        <a href="#inverted">Inverted</a>
      
        <a href="#reversed">Reversed</a>
      
        <a href="#secondary">Secondary</a>
      
        <a href="#tertiary">Tertiary</a>
      
    </nav>
    

    
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot;&gt;Action&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 

    
    <article class="flow">
      <h2 id="information">Information</h2>
      <p>The <code>.button</code> class should only be applied to <code>&lt;button&gt;</code> and <code>&lt;a&gt;</code> elements.</p>

      
        <h3 id="key-links">Key links</h3>
        <ul>
          
          <li>
            
            <dl>
              <dt>Button CSS
              </dt><dd><code>/src/css/blocks/button.css</code></dd>
            </dl>
            
          </li>
          
        </ul>
      
    </article>
    

    
      <h2 id="variants">Variants</h2>
      
      <h3 id="badge-style-button">Badge-style Button</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/badge/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/badge/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot; data-type=&quot;badge&quot;&gt;Tag&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
      <h3 id="icon">Icon</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/icon/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/icon/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot;&gt;
  Action
  &lt;span class=&quot;icon&quot;&gt;→&lt;/span&gt;
&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
      <h3 id="inverted">Inverted</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/inverted/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/inverted/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot; data-type=&quot;inverted&quot;&gt;Action&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
      <h3 id="reversed">Reversed</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/reversed/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/reversed/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot; data-direction=&quot;reversed&quot;&gt;
  Action
  &lt;span class=&quot;icon&quot;&gt;←&lt;/span&gt;
&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
      <h3 id="secondary">Secondary</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/secondary/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/secondary/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot; data-type=&quot;secondary&quot;&gt;Action&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
      <h3 id="tertiary">Tertiary</h3>
      <div class="flow-space-size-1">
        
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/button/tertiary/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/button/tertiary/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;button class=&quot;button&quot; data-type=&quot;tertiary&quot;&gt;Action&lt;/button&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;button class=&quot;button {{ data.utilities }}&quot; {% if data.direction %}data-direction=&quot;{{ data.direction }}&quot; {% endif %}{% if data.type %}data-type=&quot;{{ data.type }}&quot;{% endif %}&gt;
  {{ data.text }}
  {% if data.icon.content %}
    &lt;span class=&quot;icon&quot;&gt;{{ data.icon.content }}&lt;/span&gt;
  {% endif %}
&lt;/button&gt;</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 
      </div>
      
    
  </div>
  
  <hr>
  <div class="flow">
    <h2 id="collapsible">Collapsible</h2>
    

    
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/collapsible/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/collapsible/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;details class=&quot;collapsible&quot;&gt;
  &lt;summary id=&quot;summary1&quot; class=&quot;repel&quot;&gt;
    Topics
    &lt;svg
      aria-hidden=&quot;true&quot;
      focusable=&quot;false&quot;
      width=&quot;24&quot;
      height=&quot;24&quot;
      viewBox=&quot;0 0 24 24&quot;
      fill=&quot;none&quot;
      xmlns=&quot;http://www.w3.org/2000/svg&quot;
    &gt;
      &lt;path
        d=&quot;M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z&quot;
        fill=&quot;currentColor&quot;
      /&gt;
    &lt;/svg&gt;
  &lt;/summary&gt;
  &lt;div aria-labelledby=&quot;summary1&quot; class=&quot;collapsible__content&quot;&gt;
    Collapsible content.
  &lt;/div&gt;
&lt;/details&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;details class=&quot;collapsible {{ data.utilities }}&quot;&gt;
  &lt;summary id=&quot;summary1&quot; class=&quot;repel&quot;&gt;{{ data.summary }} {% include &quot;icons/arrow.svg&quot; %}&lt;/summary&gt;
  &lt;div aria-labelledby=&quot;summary1&quot; class=&quot;collapsible__content&quot;&gt;
    {{ data.content }}
  &lt;/div&gt;
&lt;/details&gt;
</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 

    
    <article class="flow">
      <h2 id="information-2">Information</h2>
      <p><a href="https://a11ysupport.io/tech/html/summary_element">https://a11ysupport.io/tech/html/summary_element</a></p>

      
        <h3 id="key-links-2">Key links</h3>
        <ul>
          
          <li>
            
            <dl>
              <dt>Collapsible CSS
              </dt><dd><code>/src/css/blocks/button.css</code></dd>
            </dl>
            
          </li>
          
          <li>
            
            <dl>
              <dt>ARIA Shim
              </dt><dd><code>/src/js/collapsible.js</code></dd>
            </dl>
            
          </li>
          
        </ul>
      
    </article>
    

    
  </div>
  


  </div>
</main>

  </body>
  <script type="module" src="./js/ui.js?0978-9f09-f0f1" defer=""></script>
</html>
