body {
	margin: 0;
	padding-top: 6.5em;
	position: relative;
	min-width: 100%;
	min-height: 100vh;
	height: auto;
	background: linear-gradient(-7.5deg, #f1f1f1 60%, #fff);
	border-top: .3em solid  #12073f;
}
@media( min-width: 65em ) {
	body {
		border-top-width: .42vw;
	}
}
body:before {
	content: "";
	position: absolute;
	height: .3em;
	top: -.3em;
	right: 0;
	width: 10%;
	background: #ef4136;
	clip-path: polygon(.22em 0, 100% 0%, 100% 100%, 0% 100%);
}
@media( min-width: 65em ) {
	body:before {
		height: .42vw;
		top: -.42vw;
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background: linear-gradient(-7.5deg,#faf7eb 50%,#f5f1e2);
		border-top: .3em solid #3c3d34;
	}
} 

main {
	overflow: hidden;
}

main .body {
	padding: 5%;
	max-width: 90em;
	margin: 0 auto;
}

.w-logo {
	position: absolute;
	right: 1.25vw;
	top: 1.25vw;
	max-width: 7.5em;
	min-width: 3.25em;
	width: 8%;
}

.sub {
	margin: 5vmin 0 5em 0;
	clear: both;
}
.sub:after {
	content: "";
	display: table;
	clear: both;
}
.sub:first-of-type { 
	margin-top: 0;
}

.sub picture {
	display: block;
	margin: 1.5em auto 1em auto;
	width: 100%;
	max-width: 25em;
	clear: both;
}
@media( min-width: 31em ) {
	.sub picture {
		width: auto;
		max-width: 25em;
	}
}

.sub picture.fullbleed {
	max-width: 130%;
	width: 130%;
	margin-left: -15%;
}
@media( min-width: 46.875em ) {
	.sub picture {
		margin: 1.5em auto 1em 5%;
		float: right;
	}
	.sub picture.fullbleed {
		width: auto;
		margin-left: 2.5%;
		max-width: 45em;
		margin-right: -20em;
	}
}


@media( max-width: 46.8125em ) {
	.sub img+.copy {
		display: block;
		margin-top: -4em;
		position: relative;
		padding-top: 2.5em;
	}
	.sub img+.copy:before {
		content: "";
		display: block;
		width: 120%;
		top: -3em;
		left: -10%;
		height: 8em;
		position: absolute;
		background: linear-gradient(-180deg, rgba(255,255,255,0), #f1f1f1 80%);
	}
	.sub .copy p {
		position: relative;
		z-index: 2;
	}
}

@supports( shape-margin: 1px ) {
	@media( min-width: 46.875em ) {
		.sub picture {
			shape-margin: 5%;
			z-index: -1;
		}
		.sub.sub-books picture { shape-outside: url(data:image/gif;base64,R0lGODlh9AG+AfABAAAAAAAAACH5BAUAAAEALAAAAAD0Ab4BAAL/jI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zve+CAj+hsSi8YjUBZfMZfIJjUqn0ab16qRqt9yuV4MNi7PfsvmMHo7XbGH6DY/LQe26HTDP6/fyu/+Pxyc4SFgEeIhYqLjIuIL4CEnWOElZ6RCJmSlpydnJpwka6uZJWtolipo6asra6qMKGxvoSlvrIouba7vL65H7C7zZO0yMEHyMvFq83Jrs/DzLLN0IXW2tPJ0Nd83dHa0NruU9Tv4dfq5Wrq6O3p6zDh+P7U5vIn+PP1+/n5Hv/2+On8BLAAsWHIjwgMGFDJkkbNcwokRhD3dNvIiRYkVS/xk7egy40dPHkRNDuiKJkqHJZilb/lvJyqVMfDBNzbwJr2YpnDzL6RTZMyi3n52EGq1GlNPRpcmSWmIKFZjTp1GrwppayapWVArCYO2zNWymrna+fhGLNlICtWahpH17aC3Xtj/g2r0jVxddG3f7ssnrbO8tv4SxGPMpuEThxQ4V0kzcgbHkwyohT5DMmHJGywswZzYg07LnxY6Dfh1duHTUmqgJq0absLVf0JMhyr5L+3a223Zz87bS6/db38LHxCwuljjyspSWJ3c+dhD0rQGmpwJrfXV2vV62e/8OXAr48eSbHCmPPr1GGurbu9fH4r38+SBJ0L+P3z7+/fzrX//uD2B/FgRIYH4VFIigfBckyGB6CzYIIXgPRkihdRNWiCFyF2bIoW4DdgiibBuGSCJpH5aIomsjpsgibBi0CGNa/cRIo1Yz1ogjUzfmyKNpL/YIJE87BklkSkMWiWRHYCTJpJJLNgllRBtESWVlR1aJpTxTZsnlPVt2CSY7T4ZJZjdflokmNBykyeYza7YJZzCRxUmnLHPWiedcZ+bJJyZ39gnoI38GSihegxaK6Bq+JMqoooc2Cul6J0ZKqX8HVlrpB5hmuuimkGrq6aedhoooHaQmauqphYag6qqpttonq7ACKuusfNZqK5645honELzW6euvve4qbJojFAvnscj/sqnssmg262yY+kUrLbTUcjnttdhaq22VinWb5bfgepvtuFCKa26T9qR7LrrsIrnuu0nGK2+RJ9QLL7349njvvkH26y+PKATML8AE1zjwwTgmrDCNDDcMYwoQxyjxxC1WbDGKKmSc4sYcl+jxxyGGLHKHJJecoSMoc6jyyhi27HKE8cVM4cw0Q2jzzQzmrDOCPPdM4M9AA9jC0D4LbfR9gyUtYNFMN4300+8tLbXSTldtddRYO0j11u694LWCYIf99dhkqwfD2e2lrTbXXbctodlwjxfD3OTVbfd3MuStN958Z7f334D7LTh0gRduOOGIa6j44sLN4Djjh0fOG3uU//9m+eUeTq45apl37jnkoLf2+eiY1WC6Z3ylXlvprM+G+usmui57b7HXDjvtuMt4++626+47dTcEDxcOxA83/PEurq58WMY373zy0Nso/fRVPW/9au9kD5US3Ou4/fdHeS++UeSX7yP26Pd0/vo4te9+aDvE//789M/Ew/34269/S/n37z/+AZAk/xsgAQVoQCchMIEYeQUDFbjAB0qpBxLcDAUreBEHYlAiGtxgQzroQYPUJYRWuiAJDzLCEwIkHSp8SQpbmA8WwvAxIJxhPGRow5zgMIdi2iEPx2GIH64jiEJEjA+LeA0iItEbSlziUIjgRCY2MYpqmiIVA2OEK/9a4zxarKIVuyiVLIIRi18cIy64aEY5oTGNv0ACG9W4xjfGIgly5I4Y6zhHN+Ixj3Hcoyjo6MfrADKQfxwkIUHxhEMW0pCKZAsjGymoRELST5KcJCTcYslIVjKTgKgCJ+OCyU/+QTyi9AMpS8mcUKKyDadc5V886UpHwTKWYpgCLWWpyltegQq69Iote7nLXwLTPMIcpqTKeEtxGPOYyKSlMpdpqWbGcgvQjKY0V0lNaGbTmFzQ5jaH2c1lhpOb4wTmKcj5zV6e05zrVGc7ddkdcL4zmfN0ZjzdWU9XngWf+URlGdh5T3oG1J4DneY/4XlQgRbUn2ZAaEIN+lB9NlT/oQstJRooWtFPXhSiE5XoGQjaUWxu1KMhZehHOVpSUb6BpCc16UgtulKRpoGlKeXkNmQ6U5e+1KZx0OlOM4kdjfYUpjdV6VCNelSeJtWSeUDqUifZVKEGlalzcGpRgVpVqU61kXtQalapGlWwfhWqevDqVhXZVayWlaxphaQgxBpWA70GU29dWwROVVfvjGlTeX1csDzV19OdjK6fUBHbQkWI5MCPU4FN3xEjldj9tZKv0vlITSkV2Q+eFbOVpWFnAftZKWaFVJl103EQW4g2DgOvqV3kNFhb2k7WA7ahreVGaNtYayIEt5x5KmN7u1nIAje4ohqubzlr3KtSNrkxuUUtc3Pq3Oe2FLTSne5yqxtRwmI3u8jd7k8Z5d3CEiq8jNAVeZVSpvOehFzq5UW+2iuNhcHXNiOb725rZt+VFCi/U8kaf9vitv9yZjsCxm5xCtze0SBYwH1ZsIM1c70HS7gz45uwhR9wkwtrmAIj2bCHf6TZD4t4r1oasYlBZcQTq5hYyFixizFmxxfLGMahmLGNGyfbG+tYdKncsY+ZF8wfC9l+Qy6ykY+M5CQreclMbrKTnwzlORQAADs=); }
		.sub.sub-work picture { shape-outside: url(data:image/gif;base64,R0lGODdh6ANVAvAAAAAAAP///ywAAAAA6ANVAgAC/4yPqcvtD6OctCaAs968+w+G4kiW5omm6sq27gvH8kzX9o3nOmr1/g8MCofEovF43CmXzKbzCY1Kp9Sq9ZpDarfcrvcL5mLH5LL5jE6r1+z2KAyPy+f0+sKNz+v3/L7/D+hiN0hYaHh4EKi4yNjo+AgZKYJIWWl52SOpucnZ6fkJGoM5SlpqGIqaqrrK2opnChsrm+Raa3uLm6ubMtvr+9uwKzxMXGy8CZysHHvc7PwMHY21TF19Ko2drb3NzWv9Df7VPU5ebv4cnq5OdN7u/g4fuj5PLxF/j5+v31ff72+wL6DAgQSn/DuorqDChQwbCkIIkZrDiRQrWgQQMeOvi/8cO3rEpzEkrI8kS5rcJjLlpZMsW7ocpjLmtZc0a9qUJzPnnJs8e/pspDMonJ9EixptIzSpmKNMmzqlojRqkadUq1rNIjWrj6tcu3pVoTVsha9ky5rdIDbtg7Ns23ZVC/eC27l0mca9G6Cu3r098arlCziwS79iBRs+3JGwVsSMGztULNWx5MkBISuljDnzO8tJNXv+3I2zTtCkS0MTndO06tUwUatkDTu2K9cpZdu+DYq2SNy8e0fSrdG38OGAgEckjjz5K+MIlTt/fob5QejUq0OV7s+69u1LsPfjDj58De/1xJs/34L8PPTs25NQv869/Plo4aejj1++/fv5+5//3x+OfwKGB+A3Ax64XYHWIMggdQpW02CEyj0okYQWCkfhMhdu2FuGyXAIom0eAhNiiayNuJGJKpKGoi8rvuhZi73ASCNlMs5SY46N3SiLjj4axiMzPw65V5AjEYnkXEaakmSTbC1ZipNSkgUlKVNeyVWVo2DJJVVaYtJlmHZ9aYmYZhJFZplnrnlTmpWwCSdNblISZ50szYmInXqShOche/7JUZ8zAUpoQ4IWUmiiDB1KiKKOEsToII9Ouk+kdlCK6T2W1pFpp+5sSoenopYD6k6jnopSqXGgyio2qq7aaqzOvDqUrLYWQ2sYt+4qTK5g8AosLr6KE2yxrQzrhbHK/6qCbBfLPptbs1tASy0n0k5bbbaQXKuFtt4CxS0t3477R7jikouuHuYakW67eaw7lbvyrgEvO/PeG129QuDLLxn67ttvwFX8G4TABktBMBAHL+xEwj8wDLESDm8VccU3TJyJxRrPgLEFG38MQ8djgUzyCiJTUHLKPJxsj8ouv8FyBC/PDELMMtOMc302O5BzzxjsvJbPOQPNs9A4Ex2M0TQjzYDSSzOtgNMzQx211C5TLZfVKWONgNYqc52I1yWDDZDYJJOdl9kgo6322mS3/THbcGss99wV1203xHjnvfDefBvs998BBy44v4QXfu/hiMur+OLpop224/02Lnm7XP9XzjDUmOtN9OZ32+y5xTGHLvrJpNPd8emoT6z6xqy3vvq/sLtO8Oxx62v77fDmrru5vPfO7e/ASys87eEWb/y1yCff7PLMD+v887lGHzv01JeO7PXV06o99r527z334Eec/fjkf28+59Onr/6r7Lev6vuZry//wfTXL/D9+E8u/v75u++//8UvgIMDIAH5V6oDFjCBCjTcABuYuAdCkHESnKDlKmjBxzEwg+7CIAfH5cEPeiuEIswWCUtIrROi8FkqXKGyWujCYsEwhsCaIQ13ZcMb2iqHOowVD3vIqh8C8VRCHKKoimjETiExiZhaIhMn5cQnOiqKUkwUXqqotcL/YFFtWdni3C7jRbsFJYx/Sw0Zy/iaMwoujWpEY3DaWLiQwBFxGZnj4o5jRzo2J496/Acf7+jHP/axPIIc5HoKaciEIDKRAVokIw3kyEdCKJKSrBAl16jIS2KykZrcJDg6GUdOgpJv/BklKT9pSjcuKJWnXCUr84bKV4rRlbL8Ii1r2bZb4pKLk9wl3HTpS6/1Mpi81BAxc2nJY4ptmMrMojGbucxnQtOZyphmNKtpTWp+KJtWkyY3lebNbwotnOLsGTnLeTRsonOc6lynOdvpznRuM55Dgyc9X3bOe47NnvrcGj/7ebZ/AnR4Mxro1QRq0PC5KKH+nCdD3ebQh0oP/0cShSiJKkpQimJ0ewXdqEI76tHzRTSkfUMoSR040pMK8KIqLWlKW4pSlsJ0pSmaKU0XatMFyjSn+MonTzX40p8CdadC7aBJizrCoyLVhEpdagqb6lQWQjWqL5wqVWVo1avWMKtaxSFXu7rDr4LVh2IdaxDLalYiojWtR1wrW5Xo1rc2Ma5yhSJd6zrFu+LVinrdK6F86leyBjWwgiUqYcM62MOiCrCKHRVjG+upx0I2U5KdLKUqa9lHYTazitosZwvl2c8CKrSi3RNpS2un06I2TqpdLZta69ozwTa2Ypotbbtk29tiKbe6nRJve+uk3wI3ScIdLpGKa9wfITe5Ov9aLnNr5Nznwii60l0RdatroutiN0Ta3S6HuuvdC4E3vBIaL3kbZN7zIii96h0Qe9vrn/fCNz/ynS996mtf/fQ1v+LdL3/L69//ojfAAl4vgQvs3gMjOL4KXjB9G+zg+0I4wvpNLIWnO+ELswe/GrYOhzvsoAyDWDwfHrFzSmzi5KA4xcRZMYsxJOIXezjGMg6xhWsM4BvjeMA63rGBe+zjBAM5yAweMpEfbOQjSzjJSq6wYZvMIBdD2TRSnjKLaGxl3FQ5yzHCMpdls+UvYybMYp4MmcvsmDOjmTFqXvNh2uxmwcA5zoCZM52L5OU7f8bOeqYLn/vslj8D+kl5HrT/jQptaMkIOtFUQjSj2ezoR7850pKWM6UrXedLYxrPTN60ljXtaT+DOtSBHjWpCd3pU8Nm0aoeU6pbrRpWw7oosp71T2pt676YOtdZ2jWvrYLrX9ck2MJ+CbGL3ZJjI/skyl52SZrt7I9AO9qJ8TW1aW3ta98629rW9au7Pelvg9vS4h53psttbk4/Od1dRje7Re3ud5c63vJG9brrbWZu49sk0963QPrt70rpO+AeATjBQTLwg1/E4AqHB8Mb/qmEQ3wiD5+4OSpucXJgPOOhkTjHFbLxj2sj5CJ3lcdL/u+To1zg9F45mlTucoS3PObevjfNy0Lymxsj5zonBs97/94rmAP9HD8fei6KbvRbID3ptVg6048l9Kdzw+lSZ1bUq54NqmMdJzPfesGv7vXTgD3ssxo72Y+h9bMjw+xq9znb2x70rsP9MW+f+9Hrbnel4z3vTd8736Eu979Dyu+Ct3rgC18ZwiOe6zZfPLMV73hPpD3y/IA85dd++Ms73PKa/w3nO/+IyYPeDaIfPRtKb3o1oD71aFg9683g+tf76/OyLxfta1/5zON+5Lffvbp67/vl6D740Yg98REG/OPTK/nKT4Pxm98w5kMf9tKf/uyHb323Yz/7cW889+Px/O9jZfviF1b1y2+Q86M/CuFfPw3a734ZwD/+IVM//SWvsP/7VwVg+ncK//vvag8DgE3xfwOIbflngEZRgAnoE0PAgAeIgA/IE/YigcN2LhXIb9iCgXySLBsYKLDigYbCKSE4eIhCgvkAJidIdEeigrxXUy2IK7EEg60hSjN4d5lkg+aHgzloC/SgXPxFSM0FOTLBWkEIXUNIhK/1HTmChEkoW4FEI00YE0oIhS8ihVP4hFVoXVdYG2aCR1bIhV0YJnUEhmEoR2P4RipihmK4W7uRXWt4hm3Iht8Fh3HoW1gIInVoh8FlRnSoh2TIh2O0IX+4h8fVGf1FiIBoiFFhIYmYhkOiRVHmiIoohGkhiZP4hZX4F0KGiRDhI4pRZJ3oiUf/aBn4IYqPqIa64R6niIrcxYoXKA2vSIl+KIsUmHW1OIp5iIvx4oK7qIUR4ovskirB+Is/RowLWHzHOB08powFM4zNuIScCI0RaHLTmB39YY22WI3ZGI1Oxo0C2IvfaIT/IY7IKHbleI0kho7miA7rWIzP4Y7aGIvxuEcTQo/ymIz3mIufpo/CeIv9OIeHBpDOEo4DaZAHKYP5iJALyZD2xwINCZERqVHzKJEVaZFv8o8XqZEbGSoZyZEfCZIESZEhSZIliY9oZ5IpqZIUo5Ar6ZIvmTTtCJMzSZNhI5M1iZMveZM5yZMpuZM9CZQh2QxBSZQmuXNFiZRCSYNJyZQbJtl9TQmVFqkLUUmVGqmDVYmVEjkbWcmVUpkKXQmWTol5YUmW1lAAADs=); }
	}
}

@supports( display: grid ) {
	@media( min-width: 35em ) {
		.sub:nth-of-type(odd) picture {
			grid-column: 1; 
			grid-row: 1 / -1;
			align-self: center;
			max-width: 25em;
		}
	}
	@media( min-width: 80em ) {
		.body {
			display: grid;
			grid-template-columns: repeat( 15, 1fr );
		}
		.body .head {
			grid-column: 2 / span 13;
		}
		.sub {
			display: grid;
			grid-column: 2 / span 13;
			grid-template-columns: auto auto;
			grid-template-rows: auto auto;
			grid-gap: 0 3.5%;
		}
		.sub:nth-of-type(odd) { 
			grid-column: 3 / span 13;
		}
		.sub .section-head {
			grid-column: 1 / 1;
			align-self: flex-end;
		}
		.sub.sublede {
			display: block;
		}
		.sub .copy {
			grid-column: 1 / 2;
		}
		.sub picture {
			grid-column: 2; 
			grid-row: 1 / -1;
			align-self: center;
			max-width: 25em;
		}
		.sub:first-of-type { 
			grid-column: 4 / span 11; 
		}
		.sub:nth-of-type(odd) {
			grid-template-columns: auto auto;
			grid-template-rows: auto 1fr;
			grid-gap: 0 2.5%;
		}
		.sub:nth-of-type(odd) .section-head {
			grid-column: 2 / span 2;
		}
		.sub:nth-of-type(odd) .copy {
			grid-column: 2 / span 2;
		}
		.sub:nth-of-type(odd) img { 
			grid-column: 1;
			margin: 0 5% 0 0;
		}
		.sub:nth-of-type(odd) .section-head,
		.sub:nth-of-type(odd) .copy { 
			grid-column: 2 / -1;
		}
	}
}


.site-foot {
	opacity: .9;
	border-top: 1px solid rgba(0,0,0,.2);
	text-align: right;
	clear: both;
	padding-top: .75em;
	max-width: 1200px;
	padding: 1.5%;
	margin: 5em auto 0 auto;
}


