/* Unlinked resume page styles, because you never know */
.resume-header {
	text-align: center;
	display: block;
}

.resume-header .hed {
	margin-bottom: 0;
	font-size: 2.1em;
}
@media(min-width: 30em) {
	.resume-header .hed {
		font-size: 3em;
	}
}
.resume-header p.lede {
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
	width: 100%;
	padding: 0;
	max-width: 100%;
	font-size:1.05em;
	letter-spacing: .025em;
}

.amp {
	font-family: Tiempos, serif;
	font-size: .95em;
	position: relative;
	bottom: 0;
}
.exp-datespan {
	display: block;
	text-align: right;
	font-weight: 100;
	letter-spacing: .125em;
	font-size: .85em;
	text-transform: uppercase;
	padding-top: .5em;
	border-top: 1px solid rgba(16, 9, 59, .25);
}
@media(min-width: 80em) {
	.exp-datespan {
		margin: 0 -1.5%;
	}
}

.sub.sublede {
	grid-column: 3 / span 11;
}
@media(min-width: 50em) {
	.sub.sublede {
		font-size: 1.15em;
	}
}

.copy {
	clear: both;
	float: left;
	width: 100%;
}

.section-head {
	float: left;
	width: 100%;
	padding-bottom: .25em;
}
.section-hed {
	font-family: TiemposHed, serif;
	font-size: 2.4em;
	font-weight: 400;
	margin-bottom: 0;
	padding-bottom: 0;
	margin-top: 1em;
}
.section-hed + p.lede {
	margin-bottom: 0;
	padding-bottom: 0;
}

@media(min-width: 80em) {
	.section-head,
	.copy {
		padding: 0 1.5%;
	}
}

.sub p {
	max-width: 50em;
	font-size: 1.2em;
	line-height: 1.55;
}
.sub p.lede {
	font-weight:400;
	letter-spacing: .035em;
	display: block;
	font-size: 1.1em;
	padding-top: .15em;
	text-transform: uppercase;
}

.sub li {
	max-width: 50em;
}

.resume-contact {
	font-size: 1.2em;
	margin-bottom: 2em;
	margin-top: .5em;
	text-align: center;
	border: solid  rgba(20,5,60,.1);
	padding: .5em 0;
	border-width: 1px 0;
	position: relative;
}

.resume-contact:after,
.resume-contact:before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 0;
	width: 3em;
	background: linear-gradient(-90deg, rgba(255,255,255,.0), #fafafa);
}

.resume-contact:after {
	right: 0;
	left: auto;
	background: linear-gradient(90deg, rgba(255,255,255,.0), #fafafa);

}

.resume-contact > span {
	display: block;
	padding: .2em 0;
}
.resume-contact a {
	padding: 0 1em;
	text-decoration: none;
	font-family: Tiempos, serif;
	letter-spacing: .025em;
	font-weight: 100;
	font-size: .9em;
	border-bottom: 0;
}

@media( min-width: 60em ), print {
	.resume-contact a {
		font-size: 1em;
	}
	.resume-contact > span {
		display: inline;
	}
	.resume-contact > span+span:before {
		content: "•";
		margin-right: .33em;
		color: #cb4335;
	}
}

.sub-extras {
	display: block;
	margin: 0;
}
.sub-extras h2 {
	margin: 2em 0 0 0;
}
.sub-extras h2:first-of-type {
	margin-top: 0;
}
.sub-extras+.sub {
	margin-top: .5em;
}

@media print {
	body {
		border-top: none;
		font-size: .6em;
		padding-top: 0;
	}
	.w-logo {
		display: none;
	}
	.txt-shaded {
		background: none;
		-webkit-text-fill-color: #10093b;
		color: #10093b;
	}
	.section-hed {
		margin-top: .5em;
	}
	.sub {
		page-break-inside: avoid; 
	}
	.copy {
		padding-bottom: 1em;
	}
	.sub.sub-indie {
		margin-top: .5em;
	}
	.sub.sublede {
		font-size: 1;
		margin-bottom: 0 !important;
		padding: 1em 0; !important;
	}
	.site-foot {
		display: none;
	}
}



