/* Adelle Sans */
@font-face {
    font-family: 'AdelleSans';
    src: url('/_assets/fonts/AdelleSans-Bold.woff2') format('woff2'),
        url('/_assets/fonts/AdelleSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'AdelleSans';
    src: url('/_assets/fonts/AdelleSans-Light.woff2') format('woff2'),
        url('/_assets/fonts/AdelleSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Tiempos Text */
@font-face {
    font-family: 'Tiempos';
    src: url('/_assets/fonts/TiemposTextWeb-Regular.woff2') format('woff2'),
        url('/_assets/fonts/TiemposTextWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Tiempos';
    src: url('/_assets/fonts/TiemposTextWeb-RegularItalic.woff2') format('woff2'),
        url('/_assets/fonts/TiemposTextWeb-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

/* Tiempos Headline */
@font-face {
    font-family: 'TiemposHed';
    src: url('/_assets/fonts/TiemposHeadline-Regular.woff2') format('woff2'),
        url('/_assets/fonts/TiemposHeadline-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

p.lede {
    font-family: AdelleSans, sans-serif;
    font-weight: 300;
    font-size: 5.65vw;
    line-height: 1.45;
    margin-top: .25em;
    padding-right: 2em;
    max-width: 38em;
    color: #10093b;
}
@media( min-width: 27em ) {
    p.lede {
        font-size: 1.515em;
    }
}
@media( min-width: 85em ) {
    p.lede {
        font-size: 1.785vw;
    }
}
@media( min-width: 96.25em ) {
    p.lede {
        font-size: 1.7em;
    }
}

p.lede a {
    text-decoration: none;
}
.sublede p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.65;
}
@media( min-width: 31.5em ) {
    .sublede p {
       font-size: 3.5vw;
   }
}

@media( min-width: 37.25em ) {
    .sublede p {
       font-size: 1.35em;
   }
}

p, label {
    font-family: Tiempos, serif;
    font-size: .95em;
    line-height: 1.65;
    color:#10093b;
    max-width: 45em;
}

@media( min-width: 30em ) {
    p {
        font-size: 3.2vw;
    }
}
@media( min-width: 37em ) {
    p {
        font-size: 1.1em;
    }
}

.blog p:not(.lede) {
    font-size: 1em;
    line-height: 1.7;
    max-width: 50em;
}

@media( min-width: 30em ) {
    .blog p:not(.lede) {
        font-size: 3.4vw;
    }
}
@media( min-width: 37em ) {
    .blog p:not(.lede) {
        font-size: 1.2em;
    }
}
/* Gradient background effect */
.txt-shaded {
    background: linear-gradient(-175deg,#cb4335 0%,#10093b 82.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,.15);
}

/* Hed/Subhed */
h1, h2, h3, h4 {
    font-family: AdelleSans, sans-serif;
    margin: 1.25em 0 0 0;
    line-height: 1.15;
    display: inline-block;
    color: #10093b ;
    font-weight: bold;
}
h1+p, h2+p, h3+p, h4+p {
    margin-top: .5em;
}

h1.hed.js4e {
    margin: 2rem 0 0 0;
}
time {
    display: block;
    font-size: 1rem;
    font-family: monospace;
    opacity: .7;
    margin-block: .3rem 2rem;
}
.js4e-logo-top {
    max-width: 25rem;
}
.section-hed {
    font-size: 1.5em;
    font-size: clamp( 1.5em, 4vw, 1.7em );
    padding-bottom: 0;
    margin-top: 1em;
    padding-top: .5em;
}
.copy h3 {
    font-size: 1.2em;
    font-size: clamp( 1.1em, 3vw, 1.35em );
}
.copy h4 {
    font-size: 1.2em;
    font-size: clamp( 1em, 3vw, 1.25em );
}



h1.hed {
    font-family: TiemposHed, serif;
    font-size: 8.2vw;
    font-size: clamp( 2.5em, 3.75vw, 3.5em );
    font-weight: normal;
    line-height: 1.1;
    margin: .25em 0 .25em 0;
}


@media( min-width: 45em ) {
    h1.hed span {
        white-space: nowrap;
    }
}


.site-foot {
    opacity: .75;
    font-family: AdelleSans, sans-serif;
    font-size: .95em;
}
.me {
    font-size: .975em;
}
.me a {
    color: #3c3d34;
    transition: color .35s linear, text-decoration-color .5s linear;
}
.me a b {
    color: #ef4136;
    transition: color .35s linear;
    font-weight: 600;
}
.me a:hover {
    color: #000;
    border-bottom-color: #cb4335;
}
.me a:hover b {
    color: #6d252e;
}
.me dt {
    font-weight: bold;
    padding-top: 2px;
    color: #222;
}

.nav {
    font-family: AdelleSans, sans-serif;
    font-weight: 600;
}
.nav a {
    text-decoration: none;
    color:: rgba(16, 9, 59, .85);
}
.nav a[aria-current],
.nav a:hover {
    color: #6d252e;
}

.post-head {
    padding: 2em 0 0 0;
}
.post-head:not(:first-of-type)::before {
    content: "";
    display: block;
    width: 25%;
    border-top: 1px solid rgba(0,0,0,.2);
}
.post-head .hed {
    font-family: Tiempos, serif;
    font-size: clamp( 1.7em, 4vw, 2em );
    font-weight: normal;
    line-height: 1.2;
    max-width: 45em;
}
.post-head .hed a {
    color: #10093b;
    text-decoration: none;
}
.post-head .hed a:hover {  
    color: #6d252e;
}
.btn,
input {
    border: none;
    padding: .675em 1em .4em 1em;
    background: rgba(255,255,255,.8);
}
.input-wrap {
    position: relative;
    display: inline-block;
    transition: border-color .2s linear;
    margin-inline-end: 1rem;
    margin-block: 0 .65rem;
}
.input-wrap::after,
.input-wrap::before {
  border: solid;
  content: "";
  height: 1rem;
  position: absolute;
  width: 1rem;
  z-index: 0;
  border-color: #4A4944;
  transition: border-color .25s linear;
}
.input-wrap:has(input:invalid:not(:placeholder-shown))::before,
.input-wrap:has(input:invalid:not(:placeholder-shown))::after {
    border-color: #cb4335;
}
.input-wrap input::placeholder {
    color: #999;
}

.input-wrap::after {
    border-width: 0 2px 2px 0;
    right: -2px;
    bottom: -2px;
}
.input-wrap::before {
    border-width: 2px 0 0 2px;
    left: -2.1px;
    top: -2px;
}
.eyebrow {
    display: block;
    font-family: Courier New, monospace;
    text-transform: uppercase;
    letter-spacing: 0.225em;
    color: #4A4944;
    font-size: .85rem;
    margin-block: 1rem .125rem;
}
.input-wrap input {
    width: 18rem;
    font-family: Courier New, monospace;
    transition: outline .2s linear;
    font-size: 1rem;
}
.input-wrap input:focus {
    outline: 2px solid rgba(0,0,0,.25);
}
input {
    border-radius: 0;
}
input:invalid {
    color: #cb4335;
}
.btn {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    background: #4A4944;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: Courier New, monospace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: normal;
    margin-block-start: .5rem;
    text-decoration: none;
    position: relative;
    background: rgba(16, 9, 59, .85);
    outline: 2px dashed #4A4944;
    outline-offset: -2px;
    transition: outline .2s linear, outline-offset .2s linear;
    margin-top: 0;
}
.btn:focus,
.btn:hover {
    --active: 1;
    color: #fff;
    outline: 2px dashed #cb4335;
    outline-offset: 2px;
    text-decoration: none;
}
.btn span {
    position: relative;
    z-index: 1;
}
.btn::after {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}
@media (prefers-reduced-motion: no-preference) {
    .btn::after {
        content: '';
        inset: 0;
        border-radius: 2px;
        background: radial-gradient(ellipse at calc(var(--x) * 1px) calc(var(--y) * 1px), #111, transparent 15vmin);
        background-attachment: fixed;
        opacity: var(--active, 0);
        transition: opacity 0.5s;
        z-index: 0;
    }
}

@media( prefers-color-scheme: dark ) {
 /* Hed/Subhed */
    h1, h2, h3, h4,
    .section-hed,
    p.lede,
    p {
        color: #3c3d34;
    }
    .txt-shaded {
        background: linear-gradient(-175deg,#ef4136 0%, #3c3d34 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(0,0,0,.15);
    }
    svg #w-bg {
        fill:  #3c3d34;
    }
    svg #w-fore {
        fill: #fff;
    }
    .btn {
        background: #4A4944;
    }
    .nav a {
        color: #3c3d34;
    }
    .post-head .hed a {
        color: #3c3d34;
    }
}

.js4e-index li::marker {
    font-family: monospace;
    font-size: 1.2rem;
    color: #ef4136;
    margin-left: -1.25em;
}

figcaption {
    opacity: .65;
    font-style: italic;
    font-size: 1rem;
    line-height: 1.4;
}


.js4e p.lede {
    font-size: clamp( 1.2em, 4vw, 1.4em );
    max-width: 90ch;
    margin-block: .8ch;
}