

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
  












  


<title>Collapsible - Pattern</title>
<link rel="canonical" href="https://wil.to/equipped/design-system/component/collapsible/">

<meta property="og:site_name" content="GET EQUIPPED with CHARITY STREAM">
<meta property="og:title" content="Collapsible - Pattern">
<meta property="og:type" content="website">
<meta property="og:url" content="https://wil.to/equipped/design-system/component/collapsible/">



  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:image" content="https://wil.to/megamanathon/images/card.png">
  <meta name="twitter:image" content="https://wil.to/megamanathon/images/card.png">
  <meta property="og:image:alt" content="GET EQUIPPED with CHARITY STREAM">
  <meta name="twitter:image:alt" content="GET EQUIPPED with CHARITY STREAM">





    <link rel="shortcut icon" href="./images/favicons/mm.gif">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="./css/global.css?f529-a80d-0230">

    
    
      
        <link rel="stylesheet" href="/css/design-system.css?f529-a80d-0230">
      
    
  </head>
  <body>
    <a class="w-logo" href="https://wil.to">
      <svg aria-hidden="true" viewBox="0 0 210 210" width="150" height="150" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs><path id="path" d="M.412.353h206.647V207H.412z"></path></defs><g fill="none" fill-rule="evenodd"><mask id="path2" fill="#fff"><use xlink:href="#path"></use></mask><path d="M207.059 103.677c0 57.063-46.26 103.323-103.323 103.323C46.672 207 .412 160.74.412 103.677.412 46.613 46.672.353 103.736.353s103.323 46.26 103.323 103.324" fill="#12073F" mask="url(#path2)"></path><path fill="#eee0a2" d="M101.405 77.63H80.878L93.36 99.657l-5.579 9.812L69.614 77.63H49.087l38.578 68.359.08-.137.077.137 15.845-28.141 15.947 28.141 10.38-18.255z"></path><path fill="var(--color-secondary)" d="M137.823 77.647L125.55 99.23h20.65l12.183-21.425z"></path></g>
      </svg>
      <span class="visually-hidden">Wilto</span>
    </a>
    
<main class="design-system sidebar">
  <nav class="design-system__sidebar flow" aria-label="design system">
    <p class="design-system__brand">
      <a href="/design-system" aria-label="GET EQUIPPED with CHARITY STREAM Design System">
      <svg class="w-logo" aria-hidden="true" viewBox="0 0 210 210" width="125" height="125" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><defs><path id="a" d="M.412.353h206.647V207H.412z"></path></defs><g fill="none" fill-rule="evenodd"><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><path id="w-bg" d="M207.059 103.677c0 57.063-46.26 103.323-103.323 103.323C46.672 207 .412 160.74.412 103.677.412 46.613 46.672.353 103.736.353s103.323 46.26 103.323 103.324" fill="#12073F" mask="url(#b)"></path><path id="w-fore" fill="#FFF" d="M101.405 77.63H80.878L93.36 99.657l-5.579 9.812L69.614 77.63H49.087l38.578 68.359.08-.137.077.137 15.845-28.141 15.947 28.141 10.38-18.255z"></path><path fill="#EF4136" d="M137.823 77.647L125.55 99.23h20.65l12.183-21.425z"></path></g></svg>
    </a>
    </p>
    <div class="design-system__sidebar-inner">
      
        <h2 id="design-tokens">Design Tokens</h2>
        <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/colors/">Color</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/typography/">Typography</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/spacing/">Spacing</a>

   
</li>
        
        </ul>
      
        <h2 id="css">CSS</h2>
        <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/css-compositions/">Layout Compositions</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/css-utilities/">Core utilties</a>

   
</li>
        
        </ul>
      
      <div class="repel pr-m items-baseline">
        <h2 id="components">Components</h2>
        <a class="button mt-[-1px]" href="/design-system/all-components/" data-type="badge">All</a>
      </div>
      <ul class="feature-nav" role="list">
        
          <li>

  <a class="repel" href="/design-system/component/button/">Button</a>

   
</li>
        
          <li>

  <a class="repel" href="/design-system/component/collapsible/" aria-current="page">
    <span>Collapsible</span>
  </a>

   
</li>
        
      </ul>
    </div>
  </nav>
  <div class="wrapper flow prose py-m">
    <h1 id="collapsible-pattern">Collapsible - Pattern</h1>
    
    

  

  
<div class="flow">
  <iframe class="design-system__preview-frame" src="/design-system/component-preview/collapsible/?state=window" data-size="standard"></iframe>
  <div>
    <a href="/design-system/component-preview/collapsible/" class="button">View full screen</a>
  </div>
  
  <div class="py-m">
  <details class="collapsible">
    <summary class="repel">Code <svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z" fill="currentColor"></path>
</svg>
</summary>
      <div class="pt-l">
        <div class="switcher">
          
          <div>
            <p><strong>Ready to use HTML</strong></p>
            <pre><code>&lt;details class=&quot;collapsible&quot;&gt;
  &lt;summary id=&quot;summary1&quot; class=&quot;repel&quot;&gt;
    Topics
    &lt;svg
      aria-hidden=&quot;true&quot;
      focusable=&quot;false&quot;
      width=&quot;24&quot;
      height=&quot;24&quot;
      viewBox=&quot;0 0 24 24&quot;
      fill=&quot;none&quot;
      xmlns=&quot;http://www.w3.org/2000/svg&quot;
    &gt;
      &lt;path
        d=&quot;M9.13393 20.6234L16.6335 12.9092C17.1222 12.4065 17.1222 11.5927 16.6335 11.0912L9.13393 3.37703C8.64521 2.87432 7.85401 2.87432 7.36654 3.37703C6.87907 3.87974 6.87782 4.69359 7.36654 5.19502L13.9824 12.0002L7.36654 18.8055C6.87782 19.3082 6.87782 20.122 7.36654 20.6234C7.85526 21.1249 8.64646 21.1262 9.13393 20.6234Z&quot;
        fill=&quot;currentColor&quot;
      /&gt;
    &lt;/svg&gt;
  &lt;/summary&gt;
  &lt;div aria-labelledby=&quot;summary1&quot; class=&quot;collapsible__content&quot;&gt;
    Collapsible content.
  &lt;/div&gt;
&lt;/details&gt;
</code></pre>
          </div>
          
                
          <div>
            <p><strong>Source (Nunjucks)</strong></p>
            <pre><code>&lt;details class=&quot;collapsible {{ data.utilities }}&quot;&gt;
  &lt;summary id=&quot;summary1&quot; class=&quot;repel&quot;&gt;{{ data.summary }} {% include &quot;icons/arrow.svg&quot; %}&lt;/summary&gt;
  &lt;div aria-labelledby=&quot;summary1&quot; class=&quot;collapsible__content&quot;&gt;
    {{ data.content }}
  &lt;/div&gt;
&lt;/details&gt;
</code></pre>
          </div>
          

        </div>
      </div>
    </details>
  </div>
  
</div>
 

  
  <article class="flow">
    <h2 id="information">Information</h2>
    <p><a href="https://a11ysupport.io/tech/html/summary_element">https://a11ysupport.io/tech/html/summary_element</a></p>

    
      <h3 id="key-links">Key links</h3>
      <ul class="links" role="list">
        
        <li>
          
          <dl>
            <dt>Collapsible CSS
            </dt><dd><code>/src/css/blocks/button.css</code></dd>
          </dl>
          
        </li>
        
        <li>
          
          <dl>
            <dt>ARIA Shim
            </dt><dd><code>/src/js/collapsible.js</code></dd>
          </dl>
          
        </li>
        
      </ul>
    
  </article>
  

  

  </div>
</main>

  </body>
  <script type="module" src="./js/ui.js?f529-a80d-0230" defer=""></script>
</html>
